
i {
    font-size: 1.5em;
    color: #fff;
    text-shadow: 0 0 1px #000;
}

button{
    background-color: rgba(96, 19, 191, 0.811);
    border: 1px solid rgba(100, 13, 193, 0.694);
    border-radius: 5px;
    color: #fff;
    font-size: 1.5em;
    padding: 25px 50px;
    text-shadow: 0 0 1px #000;
}

button:hover{
    background-color: #fff;
    border: 1px solid #fff;
    color: #000;
}

table{
    background-color: rgba(62, 0, 137, 0.874);
    border: 1px solid rgba(62, 0, 137, 0.922);
    border-radius: 5px;
    color: #fff;
    font-size: 1.5em;
    padding: 10px 20px;
    text-shadow: 0 0 1px #000;
}

.cuadradito{
    display: flex;
    flex-flow: column;
    margin: 10px;
    padding: 10px;
    align-items: center;
    background-color: #000;
    border: 1px solid #000;
    border-radius: 5px;
    color: #fff;
    font-size: 1.5em;
    padding: 10px 20px;
    text-shadow: 0 0 1px #000;
}

tr {
    display: flex;
    flex-flow: column;
    border-bottom: 1px solid #fff;
}

table tr:nth-child(even){
    background-color: #000;
    color: #fff;
}
