*{
    margin: 0 auto;
    padding: 0;
}
.amiibo-list-container{
    display: flex;
    flex-flow: row wrap;
    margin: 20px;
}
.amiibo-card {
    display: flex;
    flex-flow: column;
    margin: 10px;
    padding: 10px;
    align-items: center;
}
.img-container {
    width: 100px;
}
.amiibo-img {
    width: 70px;
}