.search-container {
    display: flex;
    flex-flow: row;
    justify-content: center;
}
.input {
    border-color: #7d36f2;
    background-color: white;
    color:#7d36f2;
    width: 300px;
    padding: 15px;
    font-size: 1em;
    border-radius: 50px;
    margin: 70px;
}
.input::placeholder {
    color:#958ea0;
}